//These variables are not used, but just defined (using regular css variables in the :root base file)

//Colors
$primary: #eb2f64
$primary-light: #ff3366
$primary-dark: #ba265d

//$secondary-light: #ffb900
//$secondary-dark: #ff7730

//$tertiary-light: #2998ff
//$tertiary-dark: #5643fa

$grey-dark-1: #333333
$grey-dark-2: #777777
$grey-dark-3: #999999

$grey-light-1: #faf9f9
$grey-light-2: #f4f2f2
$grey-light-3: #f0eeee
$grey-light-4: #ccc

$white: #ffffff
$black: #000000